form {
    padding: 2em;
}

label {
    float: left;
    display: block;
    width: 8em;
    text-align: right;
    padding-right: 1em;
}

input, textarea {
    display: block;
    margin-bottom: 1em;
}

#mySubmit {
    margin-left: 9.5em;
}

#herojobs {
    height: 250px;
    background-image: url('herojobs.jpg'); /* Make sure the path is correct */
    background-size: 100% 100%;
}

@media screen and (max-width: 767px) {
    #herojobs {
        display: none;
    }
}